
@{
    ViewBag.Title = "courses";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Subject Name
            </th>
            <th>
                AcademyName
            </th>
            <th>
                Lecture Type
            </th>
            <th>
                Attendance
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>
                    @s.SubjectName
                </td>
                <td>
                    @s.Academy.AcademyName
                </td>
                <td>
                    @s.LectureType
                </td>
                <td>
                    @s.MustAttend
                </td>
                <td>
                    <input type="button" value="מחק קורס" onclick="location.href='@Url.Action("DeleteCourse", "User", s)'" />
                </td>
            </tr>
        }
    </tbody>
</table>

