<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - מערכת לניהול קורסים</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
@@font-face {
    font-family: 'Alef';
    src: url('../../fonts/Alef-Bold.eot');
    src: url('../../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Alef-Bold.woff') format('woff'),
         url('../../fonts/Alef-Bold.ttf') format('truetype'),
         url('../../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@@font-face {
    font-family: 'Alef';
    src: url('../../fonts/Alef-Regular.eot');
    src: url('../../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Alef-Regular.woff') format('woff'),
         url('../../fonts/Alef-Regular.ttf') format('truetype'),
         url('../../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
   
}

 body {
  font-family: 'Alef', Fallback, sans-serif;
  background-image: url('../../Content/struckaxiom.png');
  color: #e6f3ff;
}
 .navbar-nav>li>a {
 color : #00001a !important;
 font-weight: bold;
}


    </style>

</head>
<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("עמוד הבית", "Index", "Home")</li>
                <li>@Html.ActionLink("מידע", "About", "Home")</li>
                <li>@Html.ActionLink("צור קשר", "Contact", "Home")</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Tatiana Pavlov, Renana Shneor</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
"~/css/bootstrap-rtl"
</html>
