<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - מערכת לניהול קורסים</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/semantic.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <style>
        body {
            background-image: none;
           background-repeat: no-repeat;
            background-color: #f2f2f2;
            color: black;
        }
        footer {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="container-fixed-top">
        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("עדכון פרטים אישיים", "EditUser", "User")</li>
                    <li>@Html.ActionLink("הקורסים שלי", "Courses", "User")</li>
                    <li>@Html.ActionLink("החומר שלי", "Contact", "Home")</li>
                    <li>@Html.ActionLink("חיפוש קורס", "Search", "User")</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
    <!-- /.container-fluid -->
<div class="container body-content">
    @Html.Partial("_UserPanelPartial")
    <div id="welcome">
        @RenderBody()
    </div>
    <hr/>
    @RenderSection("scripts", required: false)
</div>
    <footer>
        <p id="footerp">&copy; @DateTime.Now.Year - Tatiana Pavlov, Renana Shneor</p>
    </footer>
</body>
</html>
